<!DOCTYPE html>
<html>
<head>
    <base href="/" />
    <script src="../Scripts/angular.js"></script>
    <script src="../Scripts/angular-route.js"></script>
    <script src="../Scripts/MyScript/Script.js"></script>
    <script src="../Scripts/MyScript/Filter.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.js"></script>
    <link href="../Style.css" rel="stylesheet" />
</head>
<body ng-app="myModule">
    <div ng-controller="myController">
        <div>
            <button ng-click="ShowTable()">Show tabla</button>
            <button ng-click="ShowForm()">Create restaurant</button>
            <div ng-include="partialView"></div>                       
        </div>        
    </div>    
</body>
</html>

